{#<!DOCTYPE html>#}
{#{% extends "booksguru/index.html" %}#}
{#<html class="ie ie7 no-js" lang="en-US">#}
{#<html class="ie ie8 no-js" lang="en-US">#}
{#<html lang="en" class="no-js">#}
{#{% load static %}#}
{##}
{##}
{#<head>#}
{#	<title>{% block title %}BooksGuru | About{% endblock %}</title>#}
{#</head>#}
{#<body>#}
{##}
{#{% block main %}#}
{#    <div class="hero common-hero">#}
{#	<div class="container">#}
{#		<div class="row">#}
{#			<div class="col-md-12">#}
{#				<div class="hero-ct">#}
{#					<h1>About</h1>#}
{#				</div>#}
{#			</div>#}
{#		</div>#}
{#	</div>#}
{#</div>#}
{#<div class="movie-items">#}
{#	<div class="container">#}
{#		<div class="row ipad-width">#}
{#			<div class="col-md-8">#}
{#				<div class="title-hd">#}
{#					<h2>Register</h2>#}
{#                    {% load crispy_forms_tags %}#}
{##}
{#                    <form method="POST" class="form-group">#}
{#                    {% csrf_token %}#}
{#                    {{ form|crispy }}#}
{#                    <button type="submit" class="btn btn-success">Register</button>#}
{#                    </form>#}
{#			</div>#}
{#		</div>#}
{#	</div>#}
{#</div>#}
{#{% endblock %}#}
{##}
{#</body>#}
{##}
{##}
{#</html>#}